In [1]:
import pandas as pd

In [6]:
user_flag_df =  pd.read_csv("Test/user_flags.csv")
video_df =  pd.read_csv("Test/video.csv")
video_review_df =  pd.read_csv("Test/video_review.csv")

# Problem 1

In [13]:
user_flag_df

   user_first_name user_last_name       description  flag_id
0             John          Smith               NaN  c9SCnOG
1             Jane            Doe  regular reviewer  GJS24c5
2           Emmett          Lynch            novice  AN3ysvU
3           Adyson        Sanchez   expert reviewer  iWkr5Ql
4        Anastasia            NaN  regular reviewer  fPJS79I
5             Rory         Howell  regular reviewer  xL6HhJa
6            Danna         Landry            novice  f9GTlnF
7           Landon      Velasquez            novice  cqfZYSx
8             Ella            NaN               NaN  vWGufUE
9          Jaylene            NaN               NaN  PaOJ5H1
10           Wyatt       Espinoza            novice  edhLERE
11         Kaylynn           Koch  regular reviewer  AzxPUoP
12             NaN      Castaneda            novice  umaiugB
13            Koen         Walter   expert reviewer  xo6ENCe
14         Killian        Collins   expert reviewer  sleWZ0Y
15           Quinn        Hawkins            novice  883qvxY
16             NaN            NaN               NaN  jHAa9Go
17          Elaina         Rivera   expert reviewer  N17kABg
18          Sophia        Manning            novice  yVN66vF
19           Kiley        Spencer  regular reviewer  cmelYM6

In [14]:
df = user_flag_df[user_flag_df.isnull().sum(axis = 1) > 1]

# Solution 1

In [17]:
df

   user_first_name user_last_name description  flag_id
8             Ella            NaN         NaN  vWGufUE
9          Jaylene            NaN         NaN  PaOJ5H1
16             NaN            NaN         NaN  jHAa9Go

In [18]:
df.to_csv("Test/Solution_1.csv")

# Problem 2

In [19]:
video_review_df

,review_id,video_id,flag_id,is_reviewed,reviewed_date,review_outcome
0,1c9SCnOG,9f3806f7-1fcb-433d-8c77-f053a5d1378b,c9SCnOG,Yes,8/15/2023,Bad
1,2GJS24c5,4c7eb8c7-41dd-4429-9b13-e9311759bf0b,GJS24c5,No,8/14/2023,Good
2,3AN3ysvU,4575f3c4-26ba-4487-a40e-89a7fa684120,cmelYM6,Yes,7/25/2023,Average
3,iW4kr5Ql,c9473e90-b1c5-4a8d-a589-a0ebaa827271,yVN66vF,Yes,08/07/23,Average
4,fPJS479I,8fb560c9-5e10-49e0-94a2-9449fd91bf79,cmelYM6,No,08/10/23,Average
5,xL62HhJa,5ff61734-50ec-4551-bf6c-a0c2f7a80930,PaOJ5H1,Yes,8/19/2023,Bad
6,f96GTlnF,8426fa33-f1ee-4304-b429-66bdb693c85c,c9SCnOG,No,08/01/23,Average
7,cqf7ZYSx,af60f758-44e4-4d77-bd69-44962deb77e0,GJS24c5,Yes,08/02/23,Average
8,vW8GufUE,ae41eb07-0721-4783-9296-7c66b9ba467c,AN3ysvU,Yes,8/17/2023,Average
9,PaO9J5H1,df6b39b9-3021-43a3-bdc1-89687b4174b0,PaOJ5H1,No,7/26/2023,Good
10,ed2hLERE,71505c13-f5b5-4551-9b47-8e4efb5a6732,cmelYM6,No,08/02/23,Average
11,3AzxPUoP,9b17b234-2cc1-4a74-9702-acb71d884367,AzxPUoP,Yes,7/23/2023,Good
12,u4maiugB,63927413-ebc5-410c-be1b-e7a6e4d1239a,umaiugB,Yes,8/19/2023,Bad
13,xo622ENCe,3b3633b8-9e9f-49c9-87b9-c144de7ae1e5,xo6ENCe,Yes,08/02/23,Bad
14,sle12WZ0Y,83aba77c-8654-4cf3-85fc-d17aa3044670,PaOJ5H1,Yes,7/29/2023,Bad
15,8813qvxY,b131a316-d651-4257-a002-99ea41e98220,edhLERE,Yes,08/09/23,Average
16,jH67Aa9Go,bc4b086c-51ff-45df-bf5d-8a382fe9c391,PaOJ5H1,Yes,8/14/2023,Average
17,N1QQ7kABg,d4b803fd-6157-4f4b-a7cf-e030b2eecfd3,N17kABg,Yes,8/16/2023,Good
18,AByVN66vF,a723ff6e-b296-451e-8fa0-3e66e74a4ce3,yVN66vF,No,8/18/2023,Bad
19,acmelYM6,bc4b086c-51ff-45df-bf5d-8a382fe9c391,cmelYM6,No,7/31/2023,Average

In [20]:
video_df

                                video_id  video_length    description
0   9f3806f7-1fcb-433d-8c77-f053a5d1378b            58   tech content
1   4c7eb8c7-41dd-4429-9b13-e9311759bf0b           136     ad content
2   4575f3c4-26ba-4487-a40e-89a7fa684120           207  movie content
3   c9473e90-b1c5-4a8d-a589-a0ebaa827271           129            NaN
4   8fb560c9-5e10-49e0-94a2-9449fd91bf79           173     ad content
5   5ff61734-50ec-4551-bf6c-a0c2f7a80930           104   tech content
6   8426fa33-f1ee-4304-b429-66bdb693c85c            96            NaN
7   af60f758-44e4-4d77-bd69-44962deb77e0            36     ad content
8   ae41eb07-0721-4783-9296-7c66b9ba467c           182            NaN
9   df6b39b9-3021-43a3-bdc1-89687b4174b0           132            NaN
10  71505c13-f5b5-4551-9b47-8e4efb5a6732           177     ad content
11  9b17b234-2cc1-4a74-9702-acb71d884367            55     ad content
12  63927413-ebc5-410c-be1b-e7a6e4d1239a            80            NaN
13  3b3633b8-9e9f-49c9-87b9-c144de7ae1e5           173     ad content
14  83aba77c-8654-4cf3-85fc-d17aa3044670           167            NaN
15  b131a316-d651-4257-a002-99ea41e98220            68     ad content
16  bc4b086c-51ff-45df-bf5d-8a382fe9c391            64            NaN
17  d4b803fd-6157-4f4b-a7cf-e030b2eecfd3           124  movie content
18  a723ff6e-b296-451e-8fa0-3e66e74a4ce3           159   tech content
19  8e1f4fc7-2294-47a7-a6a7-21562aae5b88           185            NaN
20  bc4b086c-51ff-45df-bf5d-8a382fe9c391            64  movie content
21  ae41eb07-0721-4783-9296-7c66b9ba467c           182  movie content
22  8fb560c9-5e10-49e0-94a2-9449fd91bf79           173            NaN
23  9f3806f7-1fcb-433d-8c77-f053a5d1378b            58   tech content
24  c9473e90-b1c5-4a8d-a589-a0ebaa827271           129            NaN
25  b131a316-d651-4257-a002-99ea41e98220            68            NaN
26  3b3633b8-9e9f-49c9-87b9-c144de7ae1e5           173   tech content
27  63927413-ebc5-410c-be1b-e7a6e4d1239a            80            NaN
28  d4b803fd-6157-4f4b-a7cf-e030b2eecfd3           124            NaN
29  a723ff6e-b296-451e-8fa0-3e66e74a4ce3           159  movie content

In [21]:
new_df = user_flag_df.merge(video_review_df, on = 'flag_id',how = 'inner')

In [23]:
new_df

,user_first_name,user_last_name,description,flag_id,review_id,video_id,is_reviewed,reviewed_date,review_outcome
0,John,Smith,NaN,c9SCnOG,1c9SCnOG,9f3806f7-1fcb-433d-8c77-f053a5d1378b,Yes,8/15/2023,Bad
1,John,Smith,NaN,c9SCnOG,f96GTlnF,8426fa33-f1ee-4304-b429-66bdb693c85c,No,08/01/23,Average
2,Jane,Doe,regular reviewer,GJS24c5,2GJS24c5,4c7eb8c7-41dd-4429-9b13-e9311759bf0b,No,8/14/2023,Good
3,Jane,Doe,regular reviewer,GJS24c5,cqf7ZYSx,af60f758-44e4-4d77-bd69-44962deb77e0,Yes,08/02/23,Average
4,Emmett,Lynch,novice,AN3ysvU,vW8GufUE,ae41eb07-0721-4783-9296-7c66b9ba467c,Yes,8/17/2023,Average
5,Jaylene,NaN,NaN,PaOJ5H1,xL62HhJa,5ff61734-50ec-4551-bf6c-a0c2f7a80930,Yes,8/19/2023,Bad
6,Jaylene,NaN,NaN,PaOJ5H1,PaO9J5H1,df6b39b9-3021-43a3-bdc1-89687b4174b0,No,7/26/2023,Good
7,Jaylene,NaN,NaN,PaOJ5H1,sle12WZ0Y,83aba77c-8654-4cf3-85fc-d17aa3044670,Yes,7/29/2023,Bad
8,Jaylene,NaN,NaN,PaOJ5H1,jH67Aa9Go,bc4b086c-51ff-45df-bf5d-8a382fe9c391,Yes,8/14/2023,Average
9,Wyatt,Espinoza,novice,edhLERE,8813qvxY,b131a316-d651-4257-a002-99ea41e98220,Yes,08/09/23,Average
10,Kaylynn,Koch,regular reviewer,AzxPUoP,3AzxPUoP,9b17b234-2cc1-4a74-9702-acb71d884367,Yes,7/23/2023,Good
11,NaN,Castaneda,novice,umaiugB,u4maiugB,63927413-ebc5-410c-be1b-e7a6e4d1239a,Yes,8/19/2023,Bad
12,Koen,Walter,expert reviewer,xo6ENCe,xo622ENCe,3b3633b8-9e9f-49c9-87b9-c144de7ae1e5,Yes,08/02/23,Bad
13,Elaina,Rivera,expert reviewer,N17kABg,N1QQ7kABg,d4b803fd-6157-4f4b-a7cf-e030b2eecfd3,Yes,8/16/2023,Good
14,Sophia,Manning,novice,yVN66vF,iW4kr5Ql,c9473e90-b1c5-4a8d-a589-a0ebaa827271,Yes,08/07/23,Average
15,Sophia,Manning,novice,yVN66vF,AByVN66vF,a723ff6e-b296-451e-8fa0-3e66e74a4ce3,No,8/18/2023,Bad
16,Kiley,Spencer,regular reviewer,cmelYM6,3AN3ysvU,4575f3c4-26ba-4487-a40e-89a7fa684120,Yes,7/25/2023,Average
17,Kiley,Spencer,regular reviewer,cmelYM6,fPJS479I,8fb560c9-5e10-49e0-94a2-9449fd91bf79,No,08/10/23,Average
18,Kiley,Spencer,regular reviewer,cmelYM6,ed2hLERE,71505c13-f5b5-4551-9b47-8e4efb5a6732,No,08/02/23,Average
19,Kiley,Spencer,regular reviewer,cmelYM6,acmelYM6,bc4b086c-51ff-45df-bf5d-8a382fe9c391,No,7/31/2023,Average

# Solution 2.1

In [56]:
# Create a CSV file that has one column, showing the userâ€™s full name.
full_name_df = new_df['user_first_name'] + ' ' + new_df["user_last_name"]

In [57]:
full_name_df.to_csv('Test/Full_name_df_Solution2.1.csv', header = ['user_full_name'], index = False)

In [58]:
full_name_list = full_name_df.values.tolist()

In [59]:
# full_name_list

In [60]:
new_df["user_full_name"] = full_name_list

In [61]:
new_df

,user_first_name,user_last_name,description,flag_id,review_id,video_id,is_reviewed,reviewed_date,review_outcome,user_full_name
0,John,Smith,NaN,c9SCnOG,1c9SCnOG,9f3806f7-1fcb-433d-8c77-f053a5d1378b,Yes,8/15/2023,Bad,John Smith
1,John,Smith,NaN,c9SCnOG,f96GTlnF,8426fa33-f1ee-4304-b429-66bdb693c85c,No,08/01/23,Average,John Smith
2,Jane,Doe,regular reviewer,GJS24c5,2GJS24c5,4c7eb8c7-41dd-4429-9b13-e9311759bf0b,No,8/14/2023,Good,Jane Doe
3,Jane,Doe,regular reviewer,GJS24c5,cqf7ZYSx,af60f758-44e4-4d77-bd69-44962deb77e0,Yes,08/02/23,Average,Jane Doe
4,Emmett,Lynch,novice,AN3ysvU,vW8GufUE,ae41eb07-0721-4783-9296-7c66b9ba467c,Yes,8/17/2023,Average,Emmett Lynch
5,Jaylene,NaN,NaN,PaOJ5H1,xL62HhJa,5ff61734-50ec-4551-bf6c-a0c2f7a80930,Yes,8/19/2023,Bad,NaN
6,Jaylene,NaN,NaN,PaOJ5H1,PaO9J5H1,df6b39b9-3021-43a3-bdc1-89687b4174b0,No,7/26/2023,Good,NaN
7,Jaylene,NaN,NaN,PaOJ5H1,sle12WZ0Y,83aba77c-8654-4cf3-85fc-d17aa3044670,Yes,7/29/2023,Bad,NaN
8,Jaylene,NaN,NaN,PaOJ5H1,jH67Aa9Go,bc4b086c-51ff-45df-bf5d-8a382fe9c391,Yes,8/14/2023,Average,NaN
9,Wyatt,Espinoza,novice,edhLERE,8813qvxY,b131a316-d651-4257-a002-99ea41e98220,Yes,08/09/23,Average,Wyatt Espinoza
10,Kaylynn,Koch,regular reviewer,AzxPUoP,3AzxPUoP,9b17b234-2cc1-4a74-9702-acb71d884367,Yes,7/23/2023,Good,Kaylynn Koch
11,NaN,Castaneda,novice,umaiugB,u4maiugB,63927413-ebc5-410c-be1b-e7a6e4d1239a,Yes,8/19/2023,Bad,NaN
12,Koen,Walter,expert reviewer,xo6ENCe,xo622ENCe,3b3633b8-9e9f-49c9-87b9-c144de7ae1e5,Yes,08/02/23,Bad,Koen Walter
13,Elaina,Rivera,expert reviewer,N17kABg,N1QQ7kABg,d4b803fd-6157-4f4b-a7cf-e030b2eecfd3,Yes,8/16/2023,Good,Elaina Rivera
14,Sophia,Manning,novice,yVN66vF,iW4kr5Ql,c9473e90-b1c5-4a8d-a589-a0ebaa827271,Yes,08/07/23,Average,Sophia Manning
15,Sophia,Manning,novice,yVN66vF,AByVN66vF,a723ff6e-b296-451e-8fa0-3e66e74a4ce3,No,8/18/2023,Bad,Sophia Manning
16,Kiley,Spencer,regular reviewer,cmelYM6,3AN3ysvU,4575f3c4-26ba-4487-a40e-89a7fa684120,Yes,7/25/2023,Average,Kiley Spencer
17,Kiley,Spencer,regular reviewer,cmelYM6,fPJS479I,8fb560c9-5e10-49e0-94a2-9449fd91bf79,No,08/10/23,Average,Kiley Spencer
18,Kiley,Spencer,regular reviewer,cmelYM6,ed2hLERE,71505c13-f5b5-4551-9b47-8e4efb5a6732,No,08/02/23,Average,Kiley Spencer
19,Kiley,Spencer,regular reviewer,cmelYM6,acmelYM6,bc4b086c-51ff-45df-bf5d-8a382fe9c391,No,7/31/2023,Average,Kiley Spencer

In [71]:
grouped = new_df.groupby(['flag_id',"user_first_name","user_last_name"]).size().reset_index(name = "review_count")

In [74]:
grouped

   flag_id user_first_name user_last_name  review_count  user_full_name
0  AN3ysvU          Emmett          Lynch             1    Emmett Lynch
1  AzxPUoP         Kaylynn           Koch             1    Kaylynn Koch
2  GJS24c5            Jane            Doe             2        Jane Doe
3  N17kABg          Elaina         Rivera             1   Elaina Rivera
4  c9SCnOG            John          Smith             2      John Smith
5  cmelYM6           Kiley        Spencer             4   Kiley Spencer
6  edhLERE           Wyatt       Espinoza             1  Wyatt Espinoza
7  xo6ENCe            Koen         Walter             1     Koen Walter
8  yVN66vF          Sophia        Manning             2  Sophia Manning

In [73]:
grouped['user_full_name'] = grouped['user_first_name'] + ' ' +grouped['user_last_name']

In [75]:
grouped.to_csv("Test/Solution_2.csv")

In [5]:
## Common char in 2 string

In [6]:
str1 = "Shubham"
str2 = "Shrabani"

In [7]:
unique_str1 = set(str1)
unique_str2 = set(str2)

In [8]:
common = unique_str1 & unique_str2

In [9]:
common

{'S', 'a', 'b', 'h'}

In [10]:
## Count of word in a sentence.

In [36]:
sent = "My name is shubham and my father's name is Suresh."
sent = sent.lower()

In [37]:
words =  sent.split()

In [38]:
word_counter = {}

In [39]:
for word in words:
    if word not in word_counter.keys():
        word_counter[word] = 0
    
    word_counter[word] = word_counter[word]+1

In [40]:
word_counter

{'my': 2,
 'name': 2,
 'is': 2,
 'shubham': 1,
 'and': 1,
 "father's": 1,
 'suresh.': 1}

In [57]:
## Mapping list

In [51]:
list1  = [1,2,3,4]
list2 = ["One", "Two", "Three", "Four"]

In [55]:
maped_list = dict(zip(list1,list2))

In [56]:
print(maped_list)

{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four'}

In [58]:
## Find the missing no in the array.